/* ------------------------
  Custom CSS 
   ------------------------*/
body, html{
  height: 100%;
  scroll-behavior: smooth;
}

.container{
  margin-right: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 10rem;
}
.responsive-col{
  color: white;
}


.bgImg{
  height: 100%;
  background: url('../images/bg01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.bgImg-2{
  min-height: 40%;
  background: url('../images/bg02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.titles{
  margin: auto;
}
/*----------------------------------------
Navigation Styles
----------------------------------------*/
// Navigation button
.burgerBtn {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 1000;
}


.burgerBtn:hover > div{
  background-color: #f1f1f1;
}
.btnBar1, .btnBar2, .btnBar3 {
  width: 2rem;
  height: .25rem;
  background-color: #888;
  margin: .5rem 0;
  transition: 0.4s;
}
.change .btnBar1 {
  transform: translateY(.75rem) rotate(-45deg);
}
.change .btnBar2 {opacity: 0;}
.change .btnBar3 {
  transform: translateY(-.75rem) rotate(45deg);
}

.sidePanel{
  min-height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4rem; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidePanel-open{
  width: 16rem;
}
.sidePanel a{
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidePanel a:hover {
  color: #f1f1f1;
}



.carousel-watermark{
  height: 60px;
  width: auto;
  float: left;
}
// ----------------------------------------

// Carousel Styles
#myCarousel {
  margin-top: 3px;
}

#myCarousel .item {	height:480px; }

.img-display > img{
  max-height: 8rem;
  padding: .25rem;
  background-color: whitesmoke;
  border-radius: .25rem;
  margin: .5rem;
}
.img-display {
  display: inline;
}

@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
